.main-container {
  padding-top: 20px;
  height: 100vh;
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 5rem;
  position: relative;
  background: #B24592;
  /* fallback for old browsers */
  background: linear-gradient(to bottom, #B24592, #F15F79); }
