@import url(../node_modules/toastr/build/toastr.min.css);
.btns-container {
  text-align: center;
  position: fixed;
  bottom: 20px;
  width: 100%;
  left: 0px; }

.blur {
  -webkit-filter: url(#blur-filter);
  filter: url(#blur-filter);
  -webkit-filter: blur(3px);
  filter: blur(3px);
  -webkit-transition: 1s linear;
  transition: 1 linear; }

.blog-search-container {
  text-align: right;
  margin-right: 2rem;
  margin-left: 2rem; }

.blog-post-list-container {
  min-height: 400px;
  max-width: 650px;
  margin-right: auto;
  margin-left: auto; }

ul {
  list-style: none;
  display: grid;
  margin: 0 0;
  padding: 1rem; }

.thumbnail-list img {
  display: block;
  width: 80%;
  -webkit-border-radius: 99em;
  border-radius: 99em;
  border: 5px solid #eee;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3); }

.thumbnail-list img:hover {
  transform: scale(1.1);
  transition-duration: 0.4s; }

ul {
  grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
  grid-gap: 4px; }
  ul li {
    grid-column: span 2;
    grid-row: span 2; }

.panels-container {
  overflow: hidden;
  height: 300px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto; }

.example-enter {
  opacity: 0.01;
  width: 0px; }

.example-enter.example-enter-active {
  opacity: 1;
  width: 200px;
  transition: 700ms; }

.example-leave {
  opacity: 1;
  width: 100px; }

.example-leave.example-leave-active {
  opacity: 0.01;
  width: 0px;
  transition: 700ms; }

html {
  background-color: #ddd; }

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
