.blurry {
  -webkit-filter: url(#blur-filter);
  filter: url(#blur-filter);
  -webkit-filter: blur(3px);
  filter: blur(3px); }

ul {
  list-style: none;
  display: grid;
  margin: 0 0;
  padding: 1rem; }

.thumbnail-list img {
  background-color: white;
  display: block;
  width: 80%;
  -webkit-border-radius: 99em;
  border-radius: 99em;
  border: 5px solid white;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3); }

.thumbnail-list img:hover {
  transform: scale(1.1);
  transition-duration: 0.4s; }

ul {
  grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
  grid-gap: 4px; }
  ul li {
    grid-column: span 2;
    grid-row: span 2; }

.panels-container {
  overflow: hidden;
  height: 300px;
  width: fit-content;
  margin: 50px auto; }

.panels-enter {
  opacity: 0.01;
  width: 0px; }

.panels-enter.panels-enter-active {
  opacity: 1;
  width: 200px;
  margin-left: 30px;
  transition: 700ms; }

.panels-leave.panels-leave-active {
  opacity: 0.01;
  width: 0px;
  transition: 700ms; }

.main-container {
  padding-top: 20px;
  height: 100vh;
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 5rem;
  position: relative;
  background: #B24592;
  /* fallback for old browsers */
  background: linear-gradient(to bottom, #B24592, #F15F79); }

* {
  margin: 0;
  padding: 0; }
