@import "../node_modules/toastr/build/toastr.min.css";
@import "styles/layout/blogPage.scss";
@import "styles/layout/blogSearch.scss";
@import "styles/layout/blogPostList.scss";
@import "styles/layout/thumbnailGrid.scss";
@import "styles/layout/panelList.scss";

html {
    background-color: #ddd;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
