.panels-container {
  overflow: hidden;
  height: 300px;
  width: fit-content;
  margin: 50px auto; }

.panels-enter {
  opacity: 0.01;
  width: 0px; }

.panels-enter.panels-enter-active {
  opacity: 1;
  width: 200px;
  transition: 700ms; }

.panels-leave.panels-leave-active {
  opacity: 0.01;
  width: 0px;
  transition: 700ms; }
